@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{ ViewData["Title"] = "Home Page"; }
<div class="row">
    <div class="container-fluid col-md-6">
        <p class="text-md-center">Новые айтемы:</p>

        <table>
            <tr>
                <td>Time</td>
                <td>Name</td>
                <td>Description</td>
            </tr>
            @if (Model != null)
@foreach (var item in Model.items)
{
<tr>
            <td>@item.AddTime</td>
    <td><a asp-controller="Item" asp-action="Index" asp-route-ItemId="@item.Id">@item.Name</a></td>
    <td>@item.Description</td>
</tr>}
        </table>
    </div>
    <div class="container-fluid col-md-6">
        <p class="text-md-center">Больше всего айтемов:</p>
    </div>
</div>

