@model Mixed.ViewModels.ExternalLoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@Localizer["LoginApp"]</h2>
<form method="post" asp-controller="Account" asp-action="RegisterExternalConfirmed"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name">@Localizer["Name"]</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary mt-1">@Localizer["BtnSave"]</button>
    </div>
</form>